aside.activity-bar#activity-bar
  div.activity-bar-inside
    h4 ACTIVITY
    span.date-ribbon TODAY
    div.activity-input
      img(src="../../images/avatar.jpg", border="0").activity-author
      div.activity-content
        span.bold Michael Buchannon
        span created new page
        div.activity-project
          a(href="#") Contact
          span in
          a(href="#") Wireframes Taiga Tribe
        span.activity-time 12 min ago
    div.activity-input
      img(src="../../images/avatar.jpg", border="0").activity-author
      div.activity-content
        span.bold Michael Buchannon
        span created new page
        div.activity-project
          a(href="#") Contact
          span in
          a(href="#") Wireframes Taiga Tribe
        span.activity-time 12 min ago
    span.date-ribbon YESTERDAY
    div.activity-input
      img(src="../../images/avatar.jpg", border="0").activity-author
      div.activity-content
        span.bold Michael Buchannon
        span created new page
        div.activity-project
          a(href="#") Contact
          span in
          a(href="#") Wireframes Taiga Tribe
        span.activity-time 12 min ago
    div.activity-input
      img(src="../../images/avatar.jpg", border="0").activity-author
      div.activity-content
        span.bold Michael Buchannon
        span created new page
        div.activity-project
          a(href="#") Contact
          span in
          a(href="#") Wireframes Taiga Tribe
        span.activity-time 12 min ago
