section.dashboard-bar#dashboard-bar
  div.dashboard-info
    span.dashboard-projects 4 projects
    span Sort by
    select.sort-by
      option name
      option date created
      option date updated
  div.dashboard-search
    include ../../images/svg/search.svg
