section.dashboard-grid
  h2 Your projects
  div.dashboard-grid-content
    div.grid-item.add-project
      span + New project
    div.grid-item.project-th
      h3 Wireframes Taiga Tribe
      span.project-th-update Updated 3h ago
      div.project-th-actions
        div.project-th-icon.pages
          include ../../images/svg/file.svg
          span 3
        div.project-th-icon.comments
          include ../../images/svg/chat.svg
          span 6
        div.project-th-icon.delete
          include ../../images/svg/trash.svg
    div.grid-item.project-th
      h3 WYSH Roadmap
      span.project-th-update Updated 3h ago
      div.project-th-actions
        div.project-th-icon.pages
          include ../../images/svg/file.svg
          span 3
        div.project-th-icon.comments
          include ../../images/svg/chat.svg
          span 6
        div.project-th-icon.delete
          include ../../images/svg/trash.svg
    div.grid-item.project-th
      h3 A Random Table design
      span.project-th-update Updated 3h ago
      div.project-th-actions
        div.project-th-icon.pages
          include ../../images/svg/file.svg
          span 3
        div.project-th-icon.comments
          include ../../images/svg/chat.svg
          span 6
        div.project-th-icon.delete
          include ../../images/svg/trash.svg
    div.grid-item.project-th
      h3 Wireframes new Taiga website
      span.project-th-update Updated 3h ago
      div.project-th-actions
        div.project-th-icon.pages
          include ../../images/svg/file.svg
          span 3
        div.project-th-icon.comments
          include ../../images/svg/chat.svg
          span 6
        div.project-th-icon.delete
          include ../../images/svg/trash.svg
