div.lightbox.hide
  div.lightbox-body
    h3 New project
    input(type="text", placeholder="New project name", id="project-name").input-text
    input(type="button", value="Go go go!", id="project-btn").btn-primary
    a(href="#").close
      include ../../images/svg/plus.svg
