header.workspace-bar#workspace-bar
  
  div.main-icon
    include ../../images/svg/uxbox-icon.svg
  
  div.project-tree-btn
    include ../../images/svg/tree.svg
    span Page name
    
  div.workspace-options
    ul.options-btn
      li
        include ../../images/svg/undo.svg
      li
        include ../../images/svg/redo.svg
    ul.options-btn
      li
        include ../../images/svg/export.svg
      li
        include ../../images/svg/image.svg
    ul.options-btn
      li
        include ../../images/svg/ruler.svg
      li
        include ../../images/svg/grid.svg
      li
        include ../../images/svg/alignment.svg
      li
        include ../../images/svg/organize.svg
        
  
  div.user-zone
    span Michael Buchannon
    img(src="../../images/avatar.jpg", border="0")
