.settings-bar {
  background-color: $color-gray-dark;
  bottom: 0;
  height: 100%;
  position: fixed;
  right: 0;
  width: 250px;

  .settings-bar-inside {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 70px;
  }

}
