.workspace-canvas {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: $fs14;
  height: 100%;
  padding: $medium 250px $medium 55px;

  .workspace-canvas-content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    justify-content: center;
    margin: $big;
    width: 100%;
  }

}
