doctype html
html
  include layouts/head.jade

  body
    include layouts/main-bar.jade
    main.dashboard-main
      section.dashboard-content
        include layouts/dashboard-bar.jade
        include layouts/dashboard-grid.jade
      include layouts/activity-bar.jade
