doctype html
html
  include layouts/head.jade

  body
    include layouts/workspace-bar.jade
    main.main-content
      section.workspace-content
        include layouts/dashboard-bar.jade
        include layouts/dashboard-grid.jade
      include layouts/activity-bar.jade
    // lightbox
    include layouts/lightbox.jade
